.bottombar {
    position: relative;
    background: var(--color-9);
    bottom:0;
    overflow: hidden;
    width:100%;
    display: flex;
    flex-direction: row;
}



.bottombar_text {
    color: var(--color-1);
    font-size: 1rem;
    margin: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bottombar_line {
    border-bottom: 3px solid var(--contrast);
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
    width: calc(90%);
}

.bottombar_sponsors {
    width: min(30rem, 50%);
}

.bottombar_sponsors_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:1rem;
}

.bottombar_sponsors_el {

    background-color: var(--color-1);
    width: 3rem;
    height:3rem;
    opacity: 0.8;
    margin-right: 0.4rem;
    margin-bottom:0.4rem;
    padding:0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow:hidden;
}

.bottombar_sponsors_button {
    display:flex;
    align-items: center;
    justify-content: center;
}

.bottombar_sponsors_pic {
    width:100%;
    height:100%;
}


.bottombar_socials {
    position: absolute;
    right:2rem;
}

.bottombar_socials_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:1rem;
    width: 15rem;
    margin-bottom: 0.3rem;
    margin-top: 1rem;
}

.bottombar_socials_el {
    background-color: var(--color-1);
    opacity: 0.8;
    width:3rem;
    height:3rem;
    padding: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom:0.4rem;
    display: flex;
    border-radius: 50%;
    overflow:hidden;
}

.bottombar_socials_button {
    display:flex;
    align-items: center;
    justify-content: center;
}

.bottombar_socials_pic {
    width:100%;
    height: 100%;
}