main {
    padding: 3rem 8rem;
    color: var(--color-10);
    background-color: var(--color-1);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.team_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_minigame {
    position:relative;
    width:350px;
    height:260px;
    border: 2px solid blueviolet;
}

#minigame_H2S_molecule {
    position:absolute;
    top:40px;
    left:30px;
    width: 20px;
}

.team_member_name {
    margin: 0.5rem 0;
}

.team_member_picture {
    object-fit:cover;
    width: min(25rem,100%);
    height: 22rem;
    overflow:hidden;
    border: 3px solid var(--color-10);
}

.team_members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2em;
}

.team_member_text {
    width: 22rem;
    margin-top:0.5em;
}
.team_member_text p {
    margin-bottom: 1.5em;
    margin-top: 0.2em;
    text-align: justify;
}
.team_member_text h4 {
    margin:0;
}

#study {
    text-align:left;
}

.team_member_list {
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.team_member_button {
    all:unset;
    width: 48px;
    height: 48px;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 3px solid var(--color-9);
}

#button_next {
    order:1; /*next button at the end of teamList*/
}

.team_member_button > * {
    width: 110%;
}

.team_member_button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.team_member_button_active {
    border: 4px solid var(--color-10);
}

.team_member_arrow > img {
    width: 50%;
}

.team_member_arrow {
    background-color: var(--color-9);
}


.team_advisors {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_advisors_advisor {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 12rem;
    margin-right: 1.2rem;
    padding: 10px;
    
}

.team_advisors_picture {
    width: 11rem;
    height: 11rem;
    border: 4px solid var(--color-9);
    border-radius: 50%;
    box-shadow: inset 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 5px 4px rgba(0, 0, 0, 0.19);
}

.team_advisors_name {
    margin: 0.5rem 0 0.5rem 0;
}

.team_advisors h4 {
    margin: 0 0 0.5rem 0;
}

/*
.team_sponsors_button {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
}*/

.team_sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_sponsors_button {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    width: 14em;
    height:10em;
    padding: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team_sponsors_button:hover {
    transform: scale(1.2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.team_sponsors_button:nth-child(1){
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(5) {
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(10) {
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(12){
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(3){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(11){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(15){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(13){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(7) {
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(9){
    background-color: var(--color-9);
}

.team_sponsors_button > img {
    width:100%;
}

@media only screen and (max-width: 600px) {
    main {
        padding: 3em 3em;
    }
    h2 {
        font-size: 1.8rem;
        margin-bottom: 0.3em;
    }
    .team_member_name {
        font-size: 1.3rem;
    }
    .team_member_text {
        margin-top: 1em;
        margin-left:0;
        width: 100%;
    }
    .team_member_text p {
        margin-bottom: 0.5em;
    }
    .team_member_picture {
        height: 15rem;
    }
    .team_member_button {
        height:42px;
        width:42px;
    }
    .team_advisors_advisor {
        width:7.5em;
        margin-right:0.5em;
        margin-top:0.7em;
        padding:2px;
    }
    .team_advisors_picture {
        width:6em;
        height:6em;
    }  
    .team_advisors_name {
        font-size: 1rem;
    }
    .team_advisors h4 {
        font-size: 0.7rem;
    }
    .team_sponsors_button { 
        width:5.5em;
        height:4em;
        padding:1em;
    }
}