main {
    padding: 3rem 8rem;
    color: var(--color-10);
    background-color: var(--color-1);
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.team_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_minigame {
    position:relative;
    width:350px;
    height:260px;
    border: 2px solid blueviolet;
}

#minigame_H2S_molecule {
    position:absolute;
    top:40px;
    left:30px;
    width: 20px;
}

.team_member_name {
    margin: 0.5rem 0;
}

.team_member_picture {
    object-fit:cover;
    width: 25rem;
    height: 22rem;
    overflow:hidden;
    border: 3px solid var(--color-10);
}

.team_members {
    display: flex;
    flex-direction: row;
}

.team_member_text {
    margin-left: 2rem;
    width: 22rem;
}
.team_member_text p {
    margin-bottom: 1.5rem;
    margin-top: 0.2rem;
    text-align: justify;
}
.team_member_text h4 {
    margin:0;
}

#study {
    text-align:left;
}

.team_member_list {
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.team_member_button {
    --buttonSize: 48px;
    all:unset;
    width: var(--buttonSize);
    height: var(--buttonSize);
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:0.6;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border: 3px solid var(--color-9);
}

.team_member_button::after {
    content: attr(data-tooltip);
    visibility: hidden;
    position: absolute;
    top: var(--buttonSize);
    left: 50%; 
    transform: translateX(-50%) translateY(0.5em);
    padding: 0.3em;
    font-weight: bold;
    background: var(--color-9);
    color: var(--color-1);
    border-radius: 0.25em;
}

.team_member_button:hover::after {
    visibility: initial; /* unsets `visibility: hidden` */
}

#button_next {
    opacity: 1;
    order:1; /*next button at the end of teamList*/
}

#button_prev {
    opacity:1;
}

.team_member_button_image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_member_button_image > img {
    width: 110%;
}

.team_member_button:hover {
    opacity: 1;
    cursor: pointer;
}

.team_member_button_active {
    border: 4px solid var(--color-10);
    opacity: 1;
}

.team_member_arrow > img {
    width: 50%;
}

.team_member_arrow {
    background-color: var(--color-9);
}


.team_advisors {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_advisors_advisor {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 12rem;
    margin-right: 1.2rem;
    padding: 10px;
    
}

.team_advisors_picture {
    width: 11rem;
    height: 11rem;
    border: 4px solid var(--color-9);
    border-radius: 50%;
    box-shadow: inset 0 0 0 6px rgba(0, 0, 0, 0.2), 0 0 5px 4px rgba(0, 0, 0, 0.19);
}

.team_advisors_name {
    margin: 0.5rem 0 0.5rem 0;
}

.team_advisors h4 {
    margin: 0 0 0.5rem 0;
}

/*
.team_sponsors_button {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
}*/

.team_sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_sponsors_button {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    width: 14rem;
    height:10rem;
    padding: 1.4rem;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-4);
}


.team_sponsors_button:nth-child(1){
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(5) {
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(10) {
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(12){
    background-color: var(--contrast);
}

.team_sponsors_button:nth-child(3){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(11){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(15){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(13){
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(7) {
    background-color: var(--color-9);
}

.team_sponsors_button:nth-child(9){
    background-color: var(--color-9);
}

.team_sponsors_button > img {
    width:100%;
}