<html>

<head>

    <link rel="stylesheet" href="https://2021.igem.org/Template:NTNU-Trondheim/Test/navbar?action=raw&ctype=text/css" />
    <link rel="stylesheet" href="https://2021.igem.org/Template:NTNU-Trondheim/Test/bottom?action=raw&ctype=text/css" />
    <link rel="stylesheet" href="https://2021.igem.org/Template:NTNU-Trondheim/Test/header?action=raw&ctype=text/css" />
    <link rel="stylesheet" href="https://2021.igem.org/Template:NTNU-Trondheim/Test/fixthings?action=raw&ctype=text/css" />

</head>


</html>